<!-- Author: David Murdock -->
<!-- Descr: A website to help [STOP] Human Trafficking (including provided data and sources) -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>[STOP] Human Trafficking</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/img/red_stop_sign.svg" />
        <!-- Bootstrap Icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
        <!-- SimpleLightbox plugin CSS-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
        <!-- CSS Bulma -->
        <link rel="stylesheet" href="https://cdnjs.cloudfare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a href="#page-top"><img style="height: 50px; width: 50px;" src="assets//img/red_stop_sign.svg" alt=""></a>
                &nbsp;<a class="navbar-brand" href="#page-top"><span style="color: #E94040">[STOP]</span> Human Trafficking</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto my-2 my-lg-0">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#help">Join the Cause</a></li>
                        <li class="nav-item"><a class="nav-link" href="#portfolio">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="#statistics">Statistics</a></li>
                        <li class="nav-item"><a class="nav-link" href="#learnmore">Learn More</a></li>
                        <li class="nav-item"><a class="nav-link" href="#stayinformed">Stay Informed</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        
        <!-- Masthead-->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold"> <span style="color: #E94040">[STOP]</span> Human Trafficking</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">In the year 2020, over 16,000 victims of human trafficking were identified.</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header>

        <!-- About-->
        <section class="page-section bg-primary" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 text-center">
                        <h2 class="text-white mt-0">Together we can [STOP] Slavery</h2>
                        <hr class="divider divider-light" />
                        <p class="text-white-75 mb-4">Today an estimated 21 million to 45 million people are trapped in some form of slavery.</p><br>
                        <h5 class="text-white">We are a site dedicated to stopping its spead.</h5><br>
                        <a class="btn btn-light btn-xl" href="#help">Learn More</a>
                    </div>
                </div>
            </div>
        </section>
        
       
        <center>
            <div class="blockquote" style="padding: 125px 15% 50px 15%;">
                <hr class="divider" style="margin-bottom: 30px;"/>
                "Every day is hell, every day of your life is hell when you’re stuck in trafficking."
                    <div style="font-size: 12pt; padding: 2%; color: #E94040;">
                        <a href="https://www.deseret.com/utah/2021/10/8/22716453/aspen-house-utah-human-trafficking-recovery-center-kicks-off-fundraising-efforts-salt-lake-city" target="_blank" rel="noopener noreferrer" class="no-decor">
                             — Brandi Funk
                        </a>
                    </div>
                <hr class="divider" />
            </div>
        </center>


        <!-- Join the Cause -->
        <section class="page-section" id="help">
            <div class="container px-4 px-lg-5">
                <h2 class="text-center mt-0">Join the Cause</h2>
                <hr class="divider" />
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Help those in need</h3>
                            <p class="text-muted mb-0">
                                <a href="https://www.safehouseproject.org/donate" target="_blank" rel="noopener noreferrer" class="no-decor">Donate</a>
                                 to the cause to help people caught in trafficking</p>
                            <p class="text-muted mb-0">(And get a sweet tax break too)</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Share with others</h3>
                            <p class="text-muted mb-0">
                                <a href="https://www.instagram.com/stop_trafficking_of_people/?hl=en" target="_blank" rel="noopener noreferrer" class="no-decor">Share</a>
                                 what you learn with your friends and family to raise awareness
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Do your research</h3>
                            <p class="text-muted mb-0">
                                <a href="#statistics" class="no-decor">Learn</a>
                                 more about the facts and myths surrounding human trafficking</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <div class="mb-2"><i class="bi-phone fs-1 text-primary"></i></div>
                            <h3 class="h4 mb-2">Call the authorities</h3>
                            <p class="text-muted mb-0"> <a href="https://humantraffickinghotline.org/" target="_blank" rel="noopener noreferrer" class="no-decor">Report</a> any suspicious activity that you see. You might save someone from a life of slavery</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        

        <!-- Projects-->
        <div id="portfolio">
            <br><br>
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Projects</h2>
                <hr class="divider" />
                <p class="text-center">Several projects are already in place to help rescue and rehabilitate victims of trafficking. We've created links to them for you to explore.</p>
            </div>
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://polarisproject.org" target="_blank" rel="noopener noreferrer" title="Polaris Project">
                            <img class="img-fluid" src="assets/img/portfolio/fullsize/Polaris_logo2.svg" alt="..."/>
                            <div class="portfolio-box-caption">
                                <!-- <div class="project-category text-white-50">Project</div> -->
                                <!-- <div class="project-name">Polaris</div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="http://www.endslaverynow.org/" target="_blank" rel="noopener noreferrer" title="End Slavery NOW">
                            <img class="img-fluid" src="assets/img/portfolio/fullsize/End_Slavery_NOW_Project_logo_2.svg" alt="..." />
                            <div class="portfolio-box-caption">
                                <!-- <div class="project-category text-white-50">Project</div> -->
                                <!-- <div class="project-name">End Slavery NOW</div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://www.ctdatacollaborative.org/" target="_blank" rel="noopener noreferrer" title="CTDC">
                            <img class="img-fluid" src="assets/img/portfolio/fullsize/CTDC_Project_logo_2.svg" alt="..." />
                            <div class="portfolio-box-caption">
                                <!-- <div class="project-category text-white-50">Project</div> -->
                                <!-- <div class="project-name">Global Data Hub on Human Trafficking</div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://love146.org/" target="_blank" rel="noopener noreferrer" title="Love146">
                            <img class="img-fluid" src="assets/img/portfolio/fullsize/Love146_Project_logo.svg" alt="..." />
                            <div class="portfolio-box-caption">
                                <!-- <div class="project-category text-white-50">Project</div> -->
                                <!-- <div class="project-name">LOVE146</div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://www.safehouseproject.org/" target="_blank" rel="noopener noreferrer" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/fullsize/Safe_House_Project.svg" alt="..." />
                            <div class="portfolio-box-caption">
                                <!-- <div class="project-category text-white-50">Project</div> -->
                                <!-- <div class="project-name">Safe House Project</div> -->
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a class="portfolio-box" href="https://humantraffickinghotline.org/" target="_blank" rel="noopener noreferrer" title="Project Name">
                            <img class="img-fluid" src="assets/img/portfolio/fullsize/National_Human_Trafficking_Hotline.svg" alt="..." />
                            <div class="portfolio-box-caption p-3">
                                <!-- <div class="project-category text-white-50">Project</div> -->
                                <!-- <div class="project-name">National Human Trafficking Hotline</div> -->
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        
        <center>
            <div class="blockquote" style="padding: 15%; font-size: 16pt;">
                <hr class="divider" />
                    Every 2 minutes a child is sold into sex slavery.
                    <!-- <div style="font-size: 12pt; padding: 2%; color: #E94040;"> — Brandi Funk</div> -->
                <hr class="divider" />
            </div>
        </center>

        <!-- Statistics-->
        <section class="page-section bg-dark text-white" id="statistics">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Human Trafficking Statistics</h2>
                <hr class="divider divider-light" />
                <p>Over 50% of identified girl victims are aged between 15 and 17 while about 40% of trafficked boys are under 12 years of age.</p>
                
                <br><br>
            </div>
            <div style="overflow-x: scroll;">
                <!-- <script src="js/table.js"></script> -->
                <table>
                    <thead>
                        <tr>
                            <!-- <th>Case</th> -->
                            <th>Date Missing</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Age At Missing</th>
                            <th>City</th>
                            <th>State</th>
                            <th>Gender</th>
                            <th>Race</th>
                            <!-- <th>Edit</th>
                            <th>Delete</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let iCount = 0; iCount < aCases.length; iCount++) 
                        { %>
                            <tr>
                                <!-- <td><%= aCases[iCount].case %></td> -->
                                <td><!-- <%= aCases[iCount].date_missing.toDateString() %> -->
                                    <%= aCases[iCount].date_missing.getMonth() +1 %>/<%= aCases[iCount].date_missing.getDate() %>/<%= aCases[iCount].date_missing.getFullYear() %>
                                </td>
                                <td><%= aCases[iCount].first_name %></td>
                                <td><%= aCases[iCount].last_name %></td>
                                <td><%= aCases[iCount].age_at_missing %></td>
                                <td><%= aCases[iCount].city %></td>
                                <td><%= aCases[iCount].state %></td>
                                <td><%= aCases[iCount].gender %></td>
                                <td><%= aCases[iCount].race %></td>
                                <!-- <td> <a class="btn-primary" href="/edit/<%= aCases[iCount].case %>">Edit</a> </td> -->
                                <!-- <td class="tbl-form">
                                    <form method="get" action="/edit/<%= aCases[iCount].case %>">
                                        <button type="submit" class="tbl-btn">Edit</button>
                                    </form>
                                </td>
                                <td class="tbl-form">
                                    <form method="get" action="/delete/<%= aCases[iCount].case %>" class="tbl-form">
                                        <button type="submit" class="tbl-btn-del">Delete</button>
                                    </form>
                                </td> -->
                            </tr>
                        <% } %>
                            <tr>
                                <td colspan="8">
                                    <form method="get" action="/addcase">
                                        <button class="btn-sml" type="submit">REPORT A CASE</button>
                                    </form>
                                    <form action="/viewdata" method="GET">
                                        <button class="btn-sml" type="submit">EDIT TABLE</button>
                                    </form>
                                </td>
                            </tr>
                            <tr>
                                
                            </tr>

                    </tbody>
                </table>
                <br>
            </div>
                <!-- <center>
                    <form method="get" action="/addcase">
                        <button class="btn btn-light btn-xl" type="submit">Report a Case</button>
                    </form>
                </center> -->
                <br>

                <!-- <center>
                    <form action="/viewdata" method="GET">
                        <button class="btn btn-light btn-xl" type="submit">View/Edit Raw Data</button>
                    </form>
                </center> -->
        </section>

        <center>
            <div class="blockquote" style="padding: 15%; font-size: 16pt;">
                <hr class="divider" />
                Today an estimated 21 million to 45 million people are trapped in some form of slavery.
                    <!-- <div style="font-size: 12pt; padding: 2%; color: #E94040;"> — Brandi Funk</div> -->
                <hr class="divider" />
            </div>
        </center>
        
        <section class="page-section bg-primary text-center text-white" id="learnmore">
            <h1>We need you!</h1>
            <hr class="divider divider-light" />
            <p class="text-white-75">There are millions still trapped in slavery right this second. They need you and we need you.</p><br>
            <h5>Find out how you can help [STOP] Human Trafficking</h5><br><br>
            <a class="btn btn-light btn-xl" href="#help">How to Help</a>
        </section>

       
        <!-- Learn More -->
        <section class="page-section" id="learnmore">
            <div class="container px-4 px-lg-5 text-center">
                <h2 class="mb-4">Learn More</h2>
                <hr class="divider" />
            </div>
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Administration for Children & Families</h3>
                            <p class="text-muted mb-0"> <a href="https://www.acf.hhs.gov/sites/default/files/documents/otip/utah_profile_efforts_to_combat_human_trafficking.pdf" target="_blank" rel="noopener noreferrer">Utah: Efforts to Combat Human Trafficking</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">International Labour Office</h3>
                            <p class="text-muted mb-0"> <a href="https://www.ilo.org/wcmsp5/groups/public/@dgreports/@dcomm/documents/publication/wcms_575479.pdf" target="_blank" rel="noopener noreferrer">Global Estimates of Modern Slavery</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Shared Hope International</h3>
                            <p class="text-muted mb-0"> <a href="https://sharedhope.org/PICframe7/reportcards/PIC_RC_2017_UT.pdf" target="_blank" rel="noopener noreferrer">Utah Report Card 2017</a></p>
                            <br>
                            <p class="text-muted mb-0"> <a href="https://sharedhope.org/PICframe7/analysis/PIC_AR_2017_UT.pdf" target="_blank" rel="noopener noreferrer">Protected Innocence Challenge | Toolkit 2017</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">National Human Trafficking Hotline</h3>
                            <p class="text-muted mb-0"> <a href="https://humantraffickinghotline.org/state/utah" target="_blank" rel="noopener noreferrer">Utah Statistics</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Deseret News</h3>
                            <p class="text-muted mb-0"> <a href="https://www.deseret.com/utah/2021/10/8/22716453/aspen-house-utah-human-trafficking-recovery-center-kicks-off-fundraising-efforts-salt-lake-city" target="_blank" rel="noopener noreferrer">What's being done to help human trafficking survivors in Utah?</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">UTA | BE THE ONE</h3>
                            <p class="text-muted mb-0"> <a href="https://www.rideuta.com/news/2021/01/Human-Trafficking#:~:text=BE%20THE%20ONE%20to%20SUPPORT%20victims%20of%20human%20trafficking.&text=victims%20to%20services%3A-,Contact%20the%20National%20Human%20Trafficking%20Hotline%20at%20888%2D373%2D7888,%40aau%2Dslc.org%20" target="_blank" rel="noopener noreferrer">BE THE ONE in Utah's Fight Against Human Trafficking</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Utah.gov</h3>
                            <p class="text-muted mb-0"> <a href="https://attorneygeneral.utah.gov/initiatives/human-trafficking/" target="_blank" rel="noopener noreferrer">Utah Trafficking in Persons Task Force</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">End Slavery NOW</h3>
                            <p class="text-muted mb-0"> <a href="http://www.endslaverynow.org/learn/slavery-today" target="_blank" rel="noopener noreferrer">Slavery Today</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Safe House Project</h3>
                            <p class="text-muted mb-0"> <a href="https://www.safehouseproject.org/post/every-2-minutes-a-child-is-sold" target="_blank" rel="noopener noreferrer">Every 2 Minutes a Child is Sold</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Steps | Be the Change</h3>
                            <p class="text-muted mb-0"> <a href="https://www.publicservicedegrees.org/be-the-change/stop-human-trafficking/" target="_blank" rel="noopener noreferrer">How You Can Help End Human Trafficking</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Counter Trafficking Data Collaborative</h3>
                            <p class="text-muted mb-0"> <a href="https://www.ctdatacollaborative.org/" target="_blank" rel="noopener noreferrer">Global Data Hub on Human Trafficking</a></p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="mt-5">
                            <h3 class="h4 mb-2">Polaris Project</h3>
                            <p class="text-muted mb-0"> <a href="https://polarisproject.org/myths-facts-and-statistics/">Myths, Facts, and Statistics</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Contact-->
        <section class="page-section" id="stayinformed">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8 col-xl-6 text-center">
                        <h2 class="mt-0">Stay Safe,<br> Stay Informed</h2>
                        <hr class="divider" />
                        <p class="text-muted mb-5">Enter your email below to receive updates on how YOU can help [STOP] Human Trafficking</p>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center mb-5">
                    <div class="col-lg-6">
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="form-floating mb-3">
                                <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                                <label for="email">Email address</label>
                                <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                                <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    To activate this form, sign up at
                                    <br />
                                    <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            <!-- Submit Button-->
                            <div class="d-grid"><button class="btn btn-primary btn-xl disabled" id="submitButton" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 justify-content-center" style="padding-top: 75px;">
                    <div class="col-lg-4 text-center mb-5 mb-lg-0">
                        <i class="bi-phone fs-2 mb-3 text-muted"></i>
                        <div style="color: gray;">National Human Trafficking Hotline</div>
                        <div style="color: #E94040"><a href="https://humantraffickinghotline.org/" target="_blank" rel="noopener noreferrer" class="no-decor">888-373-7888</a></div><br>
                        <div style="color: gray">Text <span style="color: #E94040"><a href="https://humantraffickinghotline.org/" target="_blank" rel="noopener noreferrer" class="no-decor">“BEFREE”</a></span>
                             to <span style="color: #E94040"><a href="https://humantraffickinghotline.org/" target="_blank" rel="noopener noreferrer" class="no-decor">233733</a></span></div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Footer-->
        <footer class="bg-light py-5">
            <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2022 - [STOP] Human Trafficking Movement</div></div>
        </footer>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- SimpleLightbox plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
    </body>
</html>
